ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
  }
  body {
      width: 960px;
      margin: 0px 240px;
  }
  .name {
    width: 220px;
    padding: 25px;
    background-color: #4aaaa5;
    color: white;
  }
  .info {
    color: #4aaaa5
  }