
/* General */
* {
  padding: 0px;
margin: 0px;}
body {
    
    box-sizing: border-box;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image:  url("../images/concrete-texture.png");
    background-repeat:  repeat;
    background-color: #cccccc;
   }
     .name {
      width: 260px;
      padding: 25px;
      background-color: #4aaaa5;
      color: white;
      margin: 0px;
    }
    header {
      background-color: white;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
      width:960px;
      display: flex;
      justify-content: space-between;
      margin: 0px auto;
      height: 12vh;
      
      
    }
    .link-container {
      align-self:center;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
   hr {
     color: #777777;
     margin: 0px 0px 20px 0px;
     
   }
   h1 {
     margin: 0px;
     padding: 0px;
     
   }
  .bottom {
    width: 960px;
    background-color: white;
    padding: 40px 20px;
    margin: 49px auto;
    box-sizing: border-box;
    height: 80vh;
    overflow: auto;
    
  }
  .div {
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
   .portfolio {
    border-top-style: hidden;
    border-right-style: ridge;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-width: .5px;
   }
   .about {
    border-top-style: hidden;
    border-right-style: ridge;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-width: .5px;
   }
   /* Floating nav bar */
   a {
     padding:0px 5px;
   }
    
    a:link {
      text-decoration: none;
      color:#777777;
    }
    
    a:visited {
      text-decoration: none;
      color: #777777;
    }
    
    a:hover {
      text-decoration: none;
      background-color:#808080;
      color: #777777;
    }
    
    a:active {
      text-decoration: none;
      color: #777777;
    }
   
    /* Contact.html */
    .info {
      color: #4aaaa5;
      margin : 0px 0px 20px 0px;

    }
    input {
      width: 100%;
      padding: 6px 10px;
      margin: 4px 0;
      box-sizing: border-box;
    }
    .submit {
      width: 15%;
      color: white;
      background-color:#4aaaa5 ;
      box-sizing: border-box;
    }
  textarea{
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    }
    form {
      padding: 40px 0px 0px 0px;
      height: 100px;
    }
  
  /* Index.info */
   img { 
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    margin-bottom: 6px;
   }
   
   .text-area {
     margin-top: 12px;
   }
   /* footer */
   .footer {
     border-top: 8px solid #4aaaa5;
     background-color:#666666 ;
     width: 100%;
     height: 5vh;
     color:white;
     text-align:center;
     
   }
