
/* General */
 body {
  width: 960px;
  margin: 0px auto;
  color: #777777;
  font-family: :'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image:  url("assets\images\__MACOSX\concrete-texture\concrete-texture.png");
  background-repeat:  repeat;
  background-color: #cccccc;
 }
   .name {
    width: 260px;
    padding: 25px;
    background-color: #4aaaa5;
    color: white;
  }
  .back {
    background-color: white;
  }
  header {
    background-color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }
 hr {
   color: #777777;
 }
 /* Floating nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

  a:link {
    text-decoration: none;
    color:#cccccc;
  }
  
  a:visited {
    text-decoration: none;
    color: #cccccc;
  }
  
  a:hover {
    text-decoration: none;
    background-color:#808080;
    color: #cccccc;
  }
  
  a:active {
    text-decoration: none;
    color: #cccccc;
  }
 
  /* Contact.html */
  .info {
    color: #4aaaa5
  }

/* Index.info */
 img { 
  float: left;
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 4px;
 }